@media screen and (max-width:1160px)
 {
    .result
    {
        width: 35%;
        
    }
    .menuimg
    {
        height: 400px;
    }
 }
 

 @media screen and (max-width: 1076px)
 {
     h4
     {
         font-size: 1.3vw;
     }
     .footermain
     {
        display: flex;
        /* align-items: flex-start; */
        justify-content: unset; 
        align-items: center;
        place-content: space-around;
        padding: 0 70px;
     }
    .footermain ul
    {
        flex-flow: column wrap;
    }
    .fonclist
    {
        margin: 12px;
    }
    .menustyle
    {
        min-width: 28%;
        max-height: 65px;
        margin: 10px 10px;
        
    }

    .menuprix
    {
        margin-top: 35px;
    }
    .menucontenu
    { 
        margin-left: 5px;
        font-weight: bold;
        font-size: 1.2vw;
    }

 }
 @media screen and (max-width:947px)
 {
     .liste
     {
         flex-flow: column wrap;
         width: 100%;
     }
     .fa-check-circle
     {
         margin-left :6px;
     }
 }